---
interface Props {
  label: string;
  count?: number;
}

const { label, count } = Astro.props
const base = import.meta.env.BASE_URL
---

<a
  href={`${base}/tags/${label}/`}
  class="tag-link"
  style="font-size: 0.8rem;"
>
  #{label}
  {count !== undefined ? <span class="tag-count">[{count}]</span> : null}
</a>
